---
layout: light
author: Wizcorp
description: Wizcorp Presentations
content_description: Compilation of Wizcorp presentations.
---
<section>
	<h1 style="font-size: 100px">Wizcorp <br />Presentations</h1>
	<h3>Scroll through or hit "Esc" to see all Wizcorp presentations.</h3>
	<p>
		<small><a href="http://wizcorp.jp">Wizcorp</a></small>
	</p>
</section>

{% for pg in site.pages | sort %}{% if pg.url != '/index.html' %}
<section>
	<h1 style="font-size: 100px">{{ pg.title }}</h1>
	<h3>{{ pg.subtitle }}, <br />{{pg.location }}</h3>
	<p>
		<small>Created by <a href="http://wizcorp.jp">{{ pg.author }}</a> /
{% if pg.twitter %}<a href="http://twitter.com/{{ pg.twitter }} ">@{{ pg.twitter }}</a>{% endif %}{% if pg.email %}<a href="http://email.com/{{ pg.email }} ">@{{ pg.email }}</a>{% endif %}{% if pg.date %}, {{pg.date}}{% endif %}</small>
	</p>
	<p>Link <a href="{{ pg.url }}">here</a></p>
</section>

{% endif %}{% endfor %}

